.central-form {
    padding: 30px; 
    background-color: var(--carribean); 
    margin: 0 auto;
    color: white;
  }


  footer {
    margin-top: 20px;
  }
  
  footer p {
    margin: 10px 0;
  }
  
  footer a {
    color: white;
    text-decoration: underline;
  }
  
  footer a:hover {
    cursor: pointer;
    color: white;
  }